<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UpSport</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="C:\Users\alexa\Documents\ECAM\Master\Q2\Web Architecture\WebProject-Sponsoring\UpSport\src\app\app.component.css">    
</head>

<body>
  <header>
  <div class="wrapper">
<ul class="nav-area">   
<li><a href="../home">Home</a></li>
<li><a href="../accord">Accords</a></li>
<li><a href="../athlete">Athlètes</a></li>
<li><a href="../sponsor">Sponsors</a></li>
</ul>


<div class="ajout_accord">
  <h2>Ajout d'un accord</h2>
    <input type="text" [(ngModel)]="accord.sponsor" placeholder="Sponsor"><br>
    <input type="text" [(ngModel)]="accord.athlete" placeholder="Athlete"><br>
    <input type="text" [(ngModel)]="accord.date_signature" placeholder="Date de signature (YYYY-MM-DD)"><br> <!--Attention au format de la date-->
    <input type="text" [(ngModel)]="accord.date_fin" placeholder="Date de fin (YYYY-MM-DD)"><br>

    <button (click)="addAccord()">Valider</button>
</div>



</div>
</header>
</body>
</html>