<div>
    <h2>Informations sur le lien</h2>
    <div class="container">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
                <th>Id unique</th>
                <th>Id de l'accord</th>
                <th>Id de la contrepartie</th>
            </tr>
          </thead>
          <tbody>
                <tr>
                    <td><span>{{ link.link_id }}</span></td>
                    <td><span>{{ link.accord_id }}</span></td>
                    <td><span>{{ link.contrepartie_id }}</span></td>
                </tr>
            </tbody>
        </table>
</div>
