<div>
    <h2>Informations sur la contrepartie</h2>
    <div class="container">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
                <th>Id unique</th>
                <th>Description</th>
                <th>Etat d'avancement</th>
                <th>Statut</th>
            </tr>
          </thead>
          <tbody>
                <tr>
                    <td><span>{{ contrepartie.contrepartie_id }}</span></td>
                    <td><span>{{ contrepartie.description }}</span></td>
                    <td><span>{{ contrepartie.etat_avancement }}</span></td>
                    <td><span>{{ contrepartie.statut }}</span></td>
                </tr>
            </tbody>
        </table>
</div>
