<div>
    <h2>Informations sur le sponsor</h2>
    <div class="container">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
                <th>Id unique</th>
                <th>Nom</th>
                <th>Adresse</th>
            </tr>
          </thead>
          <tbody>
                <tr>
                    <td><span>{{ sponsor.sponsor_id }}</span></td>
                    <td><span>{{ sponsor.nom }}</span></td>
                    <td><span>{{ sponsor.adresse }}</span></td>
                </tr>
            </tbody>
        </table>
</div>
